{% extends "layout.html" %}

{% block title %}
    eeviewbycomp.html
{% endblock %}

{% block content %}
<strong>Signed in: </strong>{{ name }}<br>
<strong>Company: </strong>{{ company.cname }}<br>
Company id: {{ company.cid }}<br>
{{ message }}
{{employees.fname}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="addemp?company={{company.cname}}">Employee</a></th>
                <th>Details</th>
                <th>Payroll</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in employees %}
            <tr>
                <td><a href="editcomp?employee={{employees.fname}}">{{employees.name}}</a></td>
                <td><a href="viewee?company={{company.cname}}">View</a>    
                <td><a href="runpay?company={{company.cname}}">Run</a></td>
            </tr>
            {% endfor %}
            <tr>
        </tbody>
    </table>

{% endblock %}