{% extends "layout.html" %}
{% block title %}
    main.html
{% endblock %}
{% block content %}
<strong>Signed in: </strong>{{ name }}<br>
<strong>Message: </strong>{{ message }}<br><br>
<div class="container"> 
    
    <table class="table table-striped">

        <thead>
            <tr>
                <th><a href="addcompany">Company</a></th>
                <th>Employee</th>
                <th>Payroll</th>
            </tr>
        </thead>

        <tbody>
            {% for company in companys %}
            <tr>
                <td><a href="editcomp?company={{company.cname}}">{{company.cname}}</a></td>
                <td><a href="viewee?company={{company.cname}}">View</a> or       
                    <a href="addemp?company={{company.cname}}">Add</a></td>
                <td><a href="newrunpay?company={{company.cname}}">Run</a></td>
            </tr>
            {% endfor %}
            <tr>
        </tbody>
    </table>
</div></div>
{% endblock %}

